@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-position: center;
	}

footer{
		display: block;
		width: auto;
		height: 258px;
		left: 0px;
		top: 5207px;
		background: #2E2E2E;
	}
#Wrapper{
	width: auto;
	height: 300px;
	margin: auto;
	background-color: #FF6969
}

#WrapperCredits{
	width: auto;
	height: 300px;
	margin: auto;
	background-color: #2E2E2E;
}

/* font classes */
.singles{
	font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: medium;
  line-height: normal;
  font-size: 45px;
  text-align: center;
  color: #FF6969;
	padding: 0px, 500px;
	margin-bottom: 150px;
}

h2{
	font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: medium;
  line-height: normal;
  font-size: 45px;
  text-align: center;
  color: #FF6969;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

h4{
	width: 592px;
	height: 186px;
	left: 216px;
	top: 1559px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 19px;
	line-height: 160%;
	text-align: justify;
	color: #000000;
	padding: 100px, 100px;
	margin: 25px, 25px;
	margin: auto;
}

h5{
	width: 171px;
	height: 19px;
	left: 428px;
	top: 1914px;
	padding-top: 150px;
	padding-bottom: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align:center;
	color: #000000;

}


/* end font classes */

/* start button classes */
button {
	width: auto;
	height: 45px;
  border-radius: 28px;
	margin: auto;
	padding-left: 35px;
	padding-right: 35px;
	font-family: Montserrat;
	letter-spacing: .5px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
  background: #FF6969;
  text-decoration: none;
}

/* button hover {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
  text-decoration: none;
} */
.copyright{
	float: left;
	padding-top: 75px;
	padding-left: 70px;
	font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  text-align: left;
	text-transform: uppercase;
  letter-spacing: 0.15em;
	color: #FFFFFF;
}

.credits a{
	float: left;
	padding-top: 5px;
	padding-left: 0px;
	font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10px;
  text-align: left;
	text-transform: uppercase;
	text-decoration: none;
  letter-spacing: 0.15em;
	color: #FFFFFF;
}

.footerlogo{
	float: right;
	padding-top: 115px;
	padding-right: 70px;
}

.logo{
	float: left;
	float: clear;
	padding-top: 35px;
	padding-left: 30px;
}

.petlover{
  margin-left: 500px;
  margin-right: 500px;
}

.mainsection{
  width: auto;
  height: 474px;
  overflow-x hidden;
  position: auto;
  background-image: url("design/wavebgfull.png");
  background-position: left;
  background-position: bottom;
  background-repeat: no-repeat;
}

.onehundread{
	margin-left: 560px;
	margin-right: 560px;
}

.ourstory{
	display: block;
	padding-top: 400;
	padding-bottom: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	width: 909px;
	height: 833px;
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.42);
}

.a_ourstory{
	position: relative;
	margin-top: 100px;
	margin-left: 280px;
	margin-right: 280px;
	margin-bottom: 55px;
	width: 435px;
	height: 128px;
}

.jack{
	position: relative;
	width: 190px;
	height: 141px;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
}

.signture{
	position: absolute;
	width: auto;
	height: auto;
	padding-top: 75px;
	margin: auto;
	margin: auto;
}

.whyus{
	display: block;
	padding-top: 400;
	padding-bottom: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	width: 909px;
	height: 833px;
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.42);
}

.creditbody{
	background: #2E2E2E;
}
/* navigation */
.navbar ul{
	 list-style-type: none;
	 margin-top: 35px;
	 margin-bottom: 0px;
	 padding-top: 14px;
	 padding-left: auto;
 	 padding-right: 75px;
	 /* >> Why wont this work? letter-spacing: 45%; */
 	 margin-left: auto;
	 float: right;
	 overflow: hidden;
}

.navbar ul li {
		float: left;
	}

.navbar ul li a {
	display: block;
	width: auto;
	color: white;
	font-size: 14px;
	letter-spacing: 4px;
	padding-left: 45px;
	text-align: center;
	text-decoration: none;
	}

.navbar ul li a:hover {
	font-weight:bold;
	color:#FFFFFF;
	}

.navbar ul .active {
  color: #4CAF50;
}
/* navigation */
