@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-position: center;
	}

#Wrapper{
	width: auto;
	height: 300px;
	margin: auto;
	background-color: #FF6969
}

/* font classes */
.singles{
	font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: medium;
  line-height: normal;
  font-size: 45px;
  text-align: center;
  color: #FF6969;
	padding: 0px, 500px;
	margin-bottom: 150px;
}

h2{
	font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: medium;
  line-height: normal;
  font-size: 45px;
  text-align: center;
  color: #FF6969;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

h4{
	width: 592px;
	height: 186px;
	left: 216px;
	top: 1559px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 19px;
	line-height: 160%;
	text-align: justify;
	color: #000000;
	padding: 100px, 100px;
	margin: 25px, 25px;
	margin: auto;
}

h5{
	width: 171px;
	height: 19px;
	left: 428px;
	top: 1914px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align:center;
	color: #000000;

}
/* end font classes */

.logo{
	float: left;
	padding-top: 35px;
	padding-left: 30px;
}

.petlover{
  margin-left: 500px;
  margin-right: 500px;
}

.mainsection{
  width: auto;
  height: 474px;
  overflow-x hidden;
  position: auto;
  background-image: url("design/wavebgfull.png");
  background-position: left;
  background-position: bottom;
  background-repeat: no-repeat;
}

.onehundread{
	margin-left: 560px;
	margin-right: 560px;
}

.ourstory{
	position: relative;
	padding-top: : 400;
	padding-bottom: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px
	margin-bottom: 350px;
	width: 909px;
	height: 833px;
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.42);
}

.a_ourstory{
	position: relative;
	margin-top: 100px;
	margin-left: 280px;
	margin-right: 280px;
	margin-bottom: 55px;
	width: 435px;
	height: 128px;
}

.jack{
	position: relative;
	margin: auto;
}

.signture{
	position: absolute;
	width: auto;
	height: auto;
	margin: auto;
	margin: auto;
}


/* navigation */
.navbar ul{
	 list-style-type: none;
	 margin-top: 35px;
	 margin-bottom: 0px;
	 margin-left: auto;
	 margin-right: 30px;
	 padding: auto;
	 float: right;
	 overflow: hidden;
}

.navbar ul li {
		float: right;
	}

.navbar ul li a {
	display: block;
	width: 140px;
	color: white;
	text-align: center;
	padding: 14px 0px;
	text-decoration: none;
	}

.navbar ul li a:hover {
	font-weight:300;
	color:#2C7237;
	}
/*stoped here */
.navbar ul .active {
  color: #4CAF50;
}
/* navigation */
